<!DOCTYPE html>
<html>
  <head>
    <title>KonnectU</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/nav' %>
    <%= render partial: 'shared/message' %>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <%= render partial: 'shared/footer' %>
  </body>

  <script>
    $(".button-collapse").sideNav();
    $(".dropdown-button").dropdown();
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</html>
